# Session Link: https://tinyurl.com/pds-cls-11

All Sessions' Link: https://drive.google.com/drive/folders/1JAVtrnHWpHEpgEsUIgGt1mU0RugC8mFa?usp=sharing

In [2]:
import pandas as pd
import numpy as np

#### Load and check the data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/PulockDas/pd-12-resources/refs/heads/master/missing_exercise_data.csv')

In [4]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60  110.0       130     409.1
1        60  117.0       145     479.0
2        60  103.0       135     340.0
3        45  109.0       175     282.4
4        45  117.0       148     406.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     166 non-null    float64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 5.4 KB

In [6]:
df.isnull()

     Duration  Pulse  Maxpulse  Calories
0       False  False     False     False
1       False  False     False     False
2       False  False     False     False
3       False  False     False     False
4       False  False     False     False
..        ...    ...       ...       ...
164     False  False     False     False
165     False  False     False     False
166     False  False     False     False
167     False  False     False     False
168     False  False     False     False

[169 rows x 4 columns]

In [ ]:
df.isnull().sum()

Duration    0
Pulse       3
Maxpulse    0
Calories    5
dtype: int64

In [ ]:
df.notnull().sum()

Duration    169
Pulse       166
Maxpulse    169
Calories    164
dtype: int64

In [ ]:
df_without_missing_pulse = df[df['Pulse'].notnull()]
df_without_missing_pulse

     Duration  Pulse  Maxpulse  Calories
0          60  110.0       130     409.1
1          60  117.0       145     479.0
2          60  103.0       135     340.0
3          45  109.0       175     282.4
4          45  117.0       148     406.0
..        ...    ...       ...       ...
164        60    0.0       140     290.8
165        60  110.0       145     300.0
166        60  115.0       145     310.2
167        75  120.0       150     320.4
168        75  125.0       150     330.4

[166 rows x 4 columns]

#### Handling Missing Data

In [ ]:
data_without_missing_val = df.dropna()
data_without_missing_val

     Duration  Pulse  Maxpulse  Calories
0          60  110.0       130     409.1
1          60  117.0       145     479.0
2          60  103.0       135     340.0
3          45  109.0       175     282.4
4          45  117.0       148     406.0
..        ...    ...       ...       ...
164        60    0.0       140     290.8
165        60  110.0       145     300.0
166        60  115.0       145     310.2
167        75  120.0       150     320.4
168        75  125.0       150     330.4

[161 rows x 4 columns]

In [ ]:
# No change in df variable, as inplace keyword wasn't used
df

     Duration  Pulse  Maxpulse  Calories
0          60  110.0       130     409.1
1          60  117.0       145     479.0
2          60  103.0       135     340.0
3          45  109.0       175     282.4
4          45  117.0       148     406.0
..        ...    ...       ...       ...
164        60    0.0       140     290.8
165        60  110.0       145     300.0
166        60  115.0       145     310.2
167        75  120.0       150     320.4
168        75  125.0       150     330.4

[169 rows x 4 columns]

In [ ]:
df.dropna(inplace=True)
df

     Duration  Pulse  Maxpulse  Calories
0          60  110.0       130     409.1
1          60  117.0       145     479.0
2          60  103.0       135     340.0
3          45  109.0       175     282.4
4          45  117.0       148     406.0
..        ...    ...       ...       ...
164        60    0.0       140     290.8
165        60  110.0       145     300.0
166        60  115.0       145     310.2
167        75  120.0       150     320.4
168        75  125.0       150     330.4

[161 rows x 4 columns]

In [ ]:
# We lost the rows with null values from df, so need to load it

df = pd.read_csv('https://raw.githubusercontent.com/PulockDas/pd-12-resources/refs/heads/master/missing_exercise_data.csv')

In [12]:
df

     Duration  Pulse  Maxpulse  Calories
0          60  110.0       130     409.1
1          60  117.0       145     479.0
2          60  103.0       135     340.0
3          45  109.0       175     282.4
4          45  117.0       148     406.0
..        ...    ...       ...       ...
164        60    0.0       140     290.8
165        60  110.0       145     300.0
166        60  115.0       145     310.2
167        75  120.0       150     320.4
168        75  125.0       150     330.4

[169 rows x 4 columns]

In [13]:
missing_rows = df[df.isnull().any(axis=1)]
missing_rows

     Duration  Pulse  Maxpulse  Calories
17         45   90.0       112       NaN
27         60  103.0       132       NaN
38         60    NaN       120     300.0
57         45    NaN       144     305.0
71         60    NaN       153     387.6
91         45  107.0       137       NaN
118        60  105.0       125       NaN
141        60   97.0       127       NaN

In [14]:
df_filled = df.fillna(df.mean())

In [15]:
df['Calories'].mean()

np.float64(375.79024390243904)

In [16]:
df_filled.iloc[17]

Duration     45.000000
Pulse        90.000000
Maxpulse    112.000000
Calories    375.790244
Name: 17, dtype: float64

In [17]:
df_filled = df.fillna({'Pulse': df['Pulse'].max(), 'Calories': df['Calories'].mean()})

In [18]:
print("One filled callories value: \n")
df_filled.iloc[17]

One filled callories value:

Duration     45.000000
Pulse        90.000000
Maxpulse    112.000000
Calories    375.790244
Name: 17, dtype: float64

In [19]:
print("\nOne filled pulse value: \n")
df_filled.iloc[57]

One filled pulse value:

Duration     45.0
Pulse       159.0
Maxpulse    144.0
Calories    305.0
Name: 57, dtype: float64

#### Combining Datasets

In [20]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

result = pd.concat([df1, df2])
result

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [22]:
# To maintain proper indexing, we should use ignore_index argument as True
# Try to explore the join, join_axes parameters of the concat function

result = pd.concat([df1, df2], ignore_index=True)
result

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [24]:
result.loc[2]

A    5
B    7
Name: 2, dtype: int64

In [10]:
df1

   A  B
0  1  3
1  2  4

In [25]:
# Concatenation column wise

df3 = pd.DataFrame({'C': [9, 10]})

result = pd.concat([df1, df3], axis=1)
print(result)

   A  B   C
0  1  3   9
1  2  4  10

In [26]:
# DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 1], 'Age': [25, 30, 35]})

In [27]:
df1

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

In [28]:
df2

   ID  Age
0   2   25
1   3   30
2   1   35

In [ ]:
# Inner Join
result = pd.merge(df1, df2, on='ID')
result

In [ ]:
# Try to learn the use of the 'how' parameter; and see outer, left, right joins too

#### Common Aggregation Function

* sum()
* mean()
* count()
* min()
* max()
* std() (Standard Deviation)
* median()
* var() (Variance)
* prod() (Product)

In [29]:
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]}
df = pd.DataFrame(data)

result = df.agg({'A': ['sum', 'mean'], 'B': 'mean', 'C': ['min', 'max']})
result

         A    B     C
sum   10.0  NaN   NaN
mean   2.5  6.5   NaN
min    NaN  NaN   9.0
max    NaN  NaN  12.0

In [40]:
# Groupby
data = {
    'Model': ['iphone', 'iphone', 'samsung', 'samsung', 'iphone'],
    'Category': ['X', 'X', 'Y', 'Y', 'Z'],
    'Value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

result = df.groupby(['Category'])['Value'].sum()
result

Category
X    30
Y    70
Z    50
Name: Value, dtype: int64

In [42]:
gb = df.groupby('Category').agg({'Value':'sum', 'Model':'first'})

gb

          Value    Model
Category
X            30   iphone
Y            70  samsung
Z            50   iphone

#### Eval and Query function

In [43]:
df.eval('new_col=Value**2', inplace=True)
df

     Model Category  Value  new_col
0   iphone        X     10      100
1   iphone        X     20      400
2  samsung        Y     30      900
3  samsung        Y     40     1600
4   iphone        Z     50     2500

In [49]:
df.query('Category == "Y" & Value == 30')

     Model Category  Value  new_col
2  samsung        Y     30      900

In [60]:
df[df['Category'] == 'Y']

     Model Category  Value  new_col
2  samsung        Y     30      900
3  samsung        Y     40     1600

In [61]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/PulockDas/pd-12-resources/refs/heads/master/titanic.csv ')
df